<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">    
    <head  th:replace="fragments/headTag :: headTag">
        <title/>
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>


        <div class="container" >            

            <h2>Player</h2>
            
            <form th:object="${player}" action="addSubmit.html" th:action="@{/player/addSubmit}" method="get" class="form-horizontal">
                <!--<input type="hidden" th:field="${player.name}"/>-->
                <ul th:if="${#fields.hasErrors('amountPaid')}">
                    <li class="error" th:each="err : ${#fields.errors('amountPaid')}" th:text="${err}">Input is incorrect</li>
                </ul>
                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <th>Name</th>
                            <td><input type="text" name="name" th:field="${player.name}" maxlength="100"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Parent Name</th>
                            <td><input type="text" name="parentName" th:field="${player.parentName}" maxlength="100"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Phone Number</th>
                            <td><input type="text" name="phoneNumber" th:field="${player.phoneNumber}" maxlength="100"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><input type="text" name="email" th:field="${player.emailAddress}" maxlength="100"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Pay</th>
                            <td><input type="text" name="amountPaid" th:field="${player.amountPaid}" maxlength="100"/>
                            </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Save</button>
                    </div>
                </fieldset>
            </form>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>