<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title></title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
            <form  th:object="${player}" action="sayHello (Not used)" th:action="@{/sayhello}" method="get">
                <div class="container" >

                    <div class="container" >            
                        <h2>Players</h2>
                        <p class="error" th:each="message : ${messages}" th:text="${message}"></p>
                        <a class="btn btn-primary btn-lg" th:href="@{/player/add}" th:text="Add" ></a>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 150px;">Name</th>
                                    <th style="width: 150px;">Parent Name</th>
                                    <th style="width: 150px;">Phone Number</th>
                                    <th style="width: 150px;">Email</th>
                                    <th style="width: 150px;">Amount Paid</th>
                                    <th style="width: 150px;">Total</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="player : ${players}">

                                    <td th:text="${player.name}"></td>
                                    <td th:text="${player.parentName}"></td>
                                    <td th:text="${player.phone}"></td>
                                    <td th:text="${player.email}"></td>
                                    <td th:text="${player.amountPaid}"></td>
                                    <td><a class="btn btn-primary btn-lg" th:href="@{/player/edit(name=${player.name})}" th:text="Edit" ></a>
                                        <a class="btn btn-primary btn-lg" th:href="@{/player/delete(name=${player.name})}" th:text="Delete" ></a></td>

                                </tr>
                            </tbody>
                        </table>    
                    </div>



                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>